.u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 443px;
}

.u-section-6-1 .u-custom-html-1 {
  min-height: 268px;
  width: 670px;
  margin: 75px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-6-1 .u-custom-html-1 {
    min-height: 308px;
    height: auto;
    width: 770px;
    margin-top: 46px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-6-1 .u-custom-html-1 {
    min-height: 264px;
    width: 432px;
    margin: 30px -46px;
  }
}.u-section-6-2 {
  background-image: none;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 443px;
}

.u-section-6-2 .u-custom-html-1 {
  min-height: 268px;
  width: 670px;
  margin: 75px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-6-2 .u-custom-html-1 {
    min-height: 308px;
    height: auto;
    width: 770px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-6-2 .u-custom-html-1 {
    min-height: 264px;
    width: 440px;
    margin: 30px -50px;
  }
}.u-section-6-3 {
  background-image: none;
}

.u-section-6-3 .u-sheet-1 {
  min-height: 443px;
}

.u-section-6-3 .u-custom-html-1 {
  min-height: 268px;
  width: 670px;
  margin: 75px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-6-3 .u-custom-html-1 {
    min-height: 308px;
    height: auto;
    width: 770px;
    margin-top: 46px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-6-3 .u-custom-html-1 {
    min-height: 264px;
    width: 438px;
    margin: 32px -49px 28px;
  }
}.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 956px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1037px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 59px -18px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 74px 46px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  background-image: none;
  line-height: 1.8;
  margin: 45px 46px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 46px 34px 0 46px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1102px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  object-position: 18.56% 0%;
  height: 682px;
  width: 448px;
  margin: 332px auto 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: -311px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 110px;
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 110px;
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 60px;
    margin-right: -419px;
    margin-left: 22px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1136px;
    background-position: 14.99% 100%;
  }

  .u-section-1 .u-image-1 {
    height: 511px;
    width: 336px;
    margin-top: 343px;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 870px;
  }

  .u-section-1 .u-image-1 {
    height: 457px;
    width: 300px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1305px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2251px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 591px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 746px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 57px 71px 0;
}

.u-section-2 .u-image-1 {
  height: 366px;
  object-position: 50% 100%;
  width: 652px;
  margin: 109px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-2 .u-image-1 {
    height: 374px;
    width: 666px;
    margin-top: 112px;
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 31px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-2 .u-image-1 {
    height: 303px;
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 191px;
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 561px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-size: 1.5rem;
  margin: 33px 278px 0 71px;
}

.u-section-3 .u-text-2 {
  background-image: none;
  line-height: 1.8;
  width: 894px;
  margin: 64px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: 111px;
    margin-left: 48px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 57px 53px 47px 48px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 31px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 77px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 415px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 389px;
  margin: 13px 65px 13px 101px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 376px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 172px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 490px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-size: 1.5rem;
  margin: 51px 332px 0 71px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  width: 898px;
  margin: 58px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-right: 73px;
    margin-left: 48px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 73px 57px 60px 48px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 31px;
  }

  .u-section-5 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 51px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-2 {
    margin: 58px 10px 30px;
  }
}.u-block-7491-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-7491-5 {
  position: absolute;
  left: 0;
  width: 51px;
  height: 51px;
  right: auto;
}

.u-block-7491-4 {
  position: absolute;
  width: 51px;
  height: 51px;
  left: auto;
  top: 189px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-7491-5 {
    width: 32px;
    height: 32px;
    top: 200px;
  }

  .u-block-7491-4 {
    width: 32px;
    height: 32px;
    top: 175px;
  }
}